body {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

li {
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 98%;
}

li:hover {
    background-color: rgba(16, 67, 237, .5);
}

li div.sc_player_embed {
    width: 100%;
}

div iframe.sc_iframe {
    width: 100%;
    height: 166px;
    scrolling: no;
    frameborder: no;
}