{% macro datepick(id, currentYear) -%}
<div id='{{ id }}'>
    <select class='year' title="Year">
        {% for year in range(currentYear, 1990, -1) %}
            <option value='{{year}}'>{{year}}</option>
        {% endfor %}
    </select>
    <select class='month' title="Month">
        {% with months=['January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'] %}
        {% for month in months %}
            <option value="{{month}}">{{month}}</option>
        {% endfor %}
    </select>
    <select class='day' title="Day">
        {% for day in range(1, 31) %}
            <option value="{{day}}">{{day}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}