{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/find_user.css') }}">
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div>
        <h3>Find a friend</h3>
        <div id="friend_search_filters">
            <input type="text" id="friend_search" placeholder="username"/>
            <label for="friend_num_to_fetch">Number of users to display: </label>
            <input type="number" id="friend_num_to_fetch" value="10" name="friends_to_fetch"/>
            <label for="friend_avi_only">Show only users with an avatar: </label>
            <input type="checkbox" id="friend_avi_only" name="friends_avi_only"/>
            <input type="text" id="friend_city" name="friend_city" placeholder="City"/>
            <input type="text" id="friend_country" name="friend_country" placeholder="Country"/>
        </div>
        <ul id="fetched_friends"></ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/find_user.js') }}"></script>
<script>
    var page = new FindUserPage('{{ base_uri }}');
    function onSuccess(page, dataFromServer, jqueryList) {
        // empty the list
        jqueryList.empty();
        // add the fetched data
        for (var ix = 0; ix < dataFromServer.data.length; ix++) {
            var item = dataFromServer.data[ix].obj;
            var divID = ix + "_" + item.id;
            jqueryList.append("<li class='col-md-6' onclick='page.selectUser(\"" + divID + "\", \"" + item.id + "\")'>" + page.createUserListItem(item, divID) + "</li>");
        }
        $("li").find("button").on('click', function(e) {
            $(this).addClass('btn-clicked');
            //e.stopPropagation();
        });
    }
    $(document).ready(function() {
        $("#friend_search").onDelayedKeyup({
            handler: function () {
                fetchAndAddToList(
                    page.base_uri + "friends",
                    "friend",
                    function(dataFromServer) {
                        onSuccess(page, dataFromServer, $("ul#fetched_friends"));
                    }
                )
            }
        });
    });
</script>{% endblock %}