{% extends "layout.html" %}

{% block body %}
<div>
        <h3>Search for something</h3>
        <div style="display:block">
                <div class="searched_tracks" style="float: left; width: 50%;">
                        <input type="text" id="track_search" placeholder="Search for tracks"/>
                        <ul id="fetched_tracks">
                        </ul>
                </div>
                <div class="searched_playlists" style="float: right; width:50%">
                        <input type="text" id="playlist_search" placeholder="Search for playlists"/>
                        <ul id="fetched_playlists">
                        </ul>
                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"
        integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
        crossorigin="anonymous"></script><script type="text/javascript" src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script>
        // jQuery extension for a delayed keyup http://stackoverflow.com/a/6054104/747275
        (function($){

                $.widget("ui.onDelayedKeyup", {

                        _init : function() {
                                var self = this;
                                $(this.element).keyup(function() {
                                        if(typeof(window['inputTimeout']) != "undefined"){
                                                window.clearTimeout(inputTimeout);
                                        }
                                        var handler = self.options.handler;
                                        window['inputTimeout'] = window.setTimeout(function() {
                                                handler.call(self.element) }, self.options.delay);
                                });
                        },
                        options: {
                                handler: $.noop(),
                                delay: 500
                        }

                });
        })(jQuery);
</script>
<script>
        // tracks and playlists share the same data attributes, so a generic function is OK
        function fetchAndAddToList(url, query, jqueryList) {
                if (query.length > 0) {
                        // reload the tracks based on the query string
                        $.post({
                                url: url, //base_uri + 'tracks'/'playlists'
                                data: JSON.stringify({
                                        'query': query
                                }),
                                success: function(dataFromServer) {
                                        // empty the list
                                        jqueryList.empty();
                                        // add the fetched data
                                        for (var ix = 0; ix < dataFromServer.data.length; ix++) {
                                                var item = dataFromServer.data[ix];
                                                console.log(JSON.stringify(item));
                                                console.log(JSON.stringify(item.obj));
                                                jqueryList.append("<li>" + item.obj.title + "</li>");
                                        }
                                },
                                contentType:"application/json",
                                dataType: 'json'
                        });
                }
        }
        $(document).ready(function() {
                var base_uri = "http://brown-cloud.herokuapp.com/";
                $("#track_search").onDelayedKeyup({
                        handler: function() {
                                fetchAndAddToList(
                                        base_uri + 'tracks',
                                        $.trim($(this).val()),
                                        $("ul#fetched_tracks")
                                )
                        }
                });
                $("#playlist_search").onDelayedKeyup({
                        handler: function() {
                                fetchAndAddToList(
                                        base_uri + 'playlists',
                                        $.trim($(this).val()),
                                        $("ul#fetched_playlists")
                                )
                        }
                });
        });
</script>
{% endblock %}
