{% extends "layout.html" %}
{% import "date_pick_div.html" as dp %}

{% block body %}
<div>
    <div style="display:block">
        <div class="user_favorites" style="width: 100%">
            <h3>Find a friend</h3>
            <input type="text" id="friend_search" placeholder="username"/>
            <ul id="fetched_friends"></ul>
        </div>
        <div class="searched_tracks" style="float: left; width: 50%;">
            <h3>Search for tracks</h3>
            <div id="track_filters">
                <input type="text" id="track_search" placeholder="Search for tracks"/>
                <input type="text" id="track_tags" placeholder="Tags"/>
                <div id="track_visibility">
                    <h4>Track Visibility</h4>
                    <input type="radio" id="track_visibility_all" name="track_visibility_group" value="all" checked="checked"><label for="track_visibility_all">All Tracks</label>
                    <input type="radio" id="track_visibility_public" name="track_visibility_group" value="public"><label for="track_visibility_public">Public Tracks</label>
                    <input type="radio" id="track_visibility_private" name="track_visibility_group" value="private"><label for="track_visibility_private">Private Tracks</label>
                </div>
                <div id="track_license">
                    <h4><a href="https://en.wikipedia.org/wiki/Creative_Commons_license#Types_of_licenses" target="_blank"> Track License</a></h4>
                    <input type="radio" id="track_to_share" name="track_license_group" value="to_share" checked="checked"><label for="track_to_share">To Share</label>
                    <input type="radio" id="track_to_use_commercially" name="track_license_group" value="to_use_commercially"><label for="track_to_use_commercially">To Use Commercially</label>
                    <input type="radio" id="track_to_modify_commercially" name="track_license_group" value="to_modify_commercially"><label for="track_to_modify_commercially">To Modify Commercially</label>
                    <input type="radio" id="track_cc_by" name="track_license_group" value="cc-by"><label for="track_cc_by">Creative Commons License (BY)</label>
                    <input type="radio" id="track_cc_by_nd" name="track_license_group" value="cc-by-nd"><label for="track_cc_by_nd">Creative Commons License (BY-ND)</label>
                    <input type="radio" id="track_cc_by_sa" name="track_license_group" value="cc-by-sa"><label for="track_cc_by_sa">Creative Commons License (BY-SA)</label>
                    <input type="radio" id="track_cc_by_nc_nd" name="track_license_group" value="cc-by-nc-nd"><label for="track_cc_by_nc_nd">Creative Commons License (NC-ND)</label>
                    <input type="radio" id="track_cc_by_nc_sa" name="track_license_group" value="cc-by-nc-sa"><label for="track_cc_by_nc_sa">Creative Commons License (BY-NC-SA)</label>
                    <input type="radio" id="track_cc_by_nc_nd_sa" name="track_license_group" value="cc-by-nc-nd-sa"><label for="track_cc_by_nc_nd_sa">Creative Commons License (BY-NC-ND-SA)</label>
                </div>
                <input type="text" id="track_genres" placeholder="Genre(s)"/>
                <input type="text" id="track_bpm_from" placeholder="Minimum BPM"/>
                <input type="text" id="track_bpm_to" placeholder="Maximum BPM"/>
                <input type="text" id="track_duration_from" placeholder="Minimum Duration (seconds)"/>
                <input type="text" id="track_duration_to" placeholder="Maximum Duration (seconds)"/>
                <label for="track_created_at_from">Minimum Track Creation Date</label>
                {{ dp.datepick("track_created_at_from") }}
                <label for="track_created_at_to">Maximum Track Creation Date</label>
                {{ dp.datepick("track_created_at_to") }}
                <!--<input type="date" id="track_created_at_from" placeholder="Minimum Creation Date"/>-->
                <!--<input type="date" id="track_created_at_to" placeholder="Maximum Creation Date"/>-->
                <div id="track_type">
                    <h4>Track Type</h4>
                    <input type="radio" id="track_type_original" name="track_type_group" value="original" checked="checked"><label for="track_type_original">Original</label>
                    <input type="radio" id="track_type_remix" name="track_type_group" value="remix"><label for="track_type_remix">Remix</label>
                    <input type="radio" id="track_type_live" name="track_type_group" value="live"><label for="track_type_live">Live</label>
                    <input type="radio" id="track_type_recording" name="track_type_group" value="recording"><label for="track_type_recording">Recording</label>
                    <input type="radio" id="track_type_spoken" name="track_type_group" value="spoken"><label for="track_type_spoken">Spoken</label>
                    <input type="radio" id="track_type_podcast" name="track_type_group" value="podcast"><label for="track_type_podcast">Podcast</label>
                    <input type="radio" id="track_type_demo" name="track_type_group" value="demo"><label for="track_type_demo">Demo</label>
                    <input type="radio" id="track_type_in_progress" name="track_type_group" value="in_progress"><label for="track_type_in_progress">In Progress</label>
                    <input type="radio" id="track_type_stem" name="track_type_group" value="stem"><label for="track_type_stem">Stem</label>
                    <input type="radio" id="track_type_loop" name="track_type_group" value="loop"><label for="track_type_loop">Loop</label>
                    <input type="radio" id="track_type_sound_effect" name="track_type_group" value="sound_effect"><label for="track_type_sound_effect">Sound Effect</label>
                    <input type="radio" id="track_type_sample" name="track_type_group" value="sample"><label for="track_type_sample">Sample</label>
                    <input type="radio" id="track_type_other" name="track_type_group" value="other"><label for="track_type_other">Other</label>
                </div>
            </div>
            <ul id="fetched_tracks" style="list-style-position: inside"></ul>
        </div>
        <div class="searched_playlists" style="float: right; width:50%">
            <h3>Search for playlists</h3>
            <div id="playlist_filters">
                <input type="text" id="playlist_search" placeholder="Search for Playlists"/>
                <!--<input type="text" id="playlist_tags" placeholder="Tags"/>-->
                <!--<div id="playlist_visibility">-->
                    <!--<h4>Track Visibility</h4>-->
                    <!--<input type="radio" id="playlist_visibility_all" name="playlist_visibility_group" value="all" checked="checked"><label for="playlist_visibility_all">All Playlists</label>-->
                    <!--<input type="radio" id="playlist_visibility_public" name="playlist_visibility_group" value="public"><label for="playlist_visibility_public">Public Playlists</label>-->
                    <!--<input type="radio" id="playlist_visibility_private" name="playlist_visibility_group" value="private"><label for="playlist_visibility_private">Private Playlists</label>-->
                <!--</div>-->
                <!--<div id="playlist_license">-->
                    <!--<h4><a href="https://en.wikipedia.org/wiki/Creative_Commons_license#Types_of_licenses" target="_blank"> Playlist License</a></h4>-->
                    <!--<input type="radio" id="playlist_no_rights_reserved" name="playlist_license_group" value="no_rights_reserved" checked="checked"><label for="playlist_no_rights_reserved">No Rights Reserved</label>-->
                    <!--<input type="radio" id="playlist_all_rights_reserved" name="playlist_license_group" value="all_rights_reserved"><label for="playlist_all_rights_reserved">All Rights Reserved</label>-->
                    <!--<input type="radio" id="playlist_cc_by" name="cc_by" value="playlist_license_group"><label for="playlist_cc_by">Creative Commons License (BY)</label>-->
                    <!--<input type="radio" id="playlist_cc_by_nc" name="playlist_license_group" value="cc_by_nc"><label for="playlist_cc_by_nc">Creative Commons License (BY-NC)</label>-->
                    <!--<input type="radio" id="playlist_cc_by_nd" name="playlist_license_group" value="cc_by_nd"><label for="playlist_cc_by_nd">Creative Commons License (BY-ND)</label>-->
                    <!--<input type="radio" id="playlist_cc_by_sa" name="playlist_license_group" value="cc_by_sa"><label for="playlist_cc_by_sa">Creative Commons License (BY-SA)</label>-->
                    <!--<input type="radio" id="playlist_cc_by_nc_nd" name="playlist_license_group" value="cc_by_nc_nd"><label for="playlist_cc_by_nc_nd">Creative Commons License (NC-ND)</label>-->
                    <!--<input type="radio" id="playlist_cc_by_nc_sa" name="playlist_license_group" value="cc_by_nc_sa"><label for="playlist_cc_by_nc_sa">Creative Commons License (BY-NC-SA)</label>-->
                <!--</div>-->
                <!--<input type="text" id="playlist_genres" placeholder="Genre(s)"/>-->
                <!--<input type="text" id="playlist_bpm_from" placeholder="Minimum BPM"/>-->
                <!--<input type="text" id="playlist_bpm_to" placeholder="Maximum BPM"/>-->
                <!--<input type="text" id="playlist_duration_from" placeholder="Minimum Duration"/>-->
                <!--<input type="text" id="playlist_duration_to" placeholder="Maximum Duration"/>-->
                <!--<input type="date" id="playlist_created_at_from" placeholder="Minimum Creation Date"/>-->
                <!--<input type="date" id="playlist_created_at_to" placeholder="Maximum Creation Date"/>-->
                <!--<div id="playlist_type">-->
                    <!--<h4>Playlist Type</h4>-->
                    <!--<input type="radio" id="playlist_type_original" name="playlist_type_group" value="original"><label for="playlist_type_original">Original</label>-->
                    <!--<input type="radio" id="playlist_type_remix" name="playlist_type_group" value="remix"><label for="playlist_type_remix">Remix</label>-->
                    <!--<input type="radio" id="playlist_type_live" name="playlist_type_group" value="live"><label for="playlist_type_live">Live</label>-->
                    <!--<input type="radio" id="playlist_type_recording" name="playlist_type_group" value="recording"><label for="playlist_type_recording">Recording</label>-->
                    <!--<input type="radio" id="playlist_type_spoken" name="playlist_type_group" value="spoken"><label for="playlist_type_spoken">Spoken</label>-->
                    <!--<input type="radio" id="playlist_type_podcast" name="playlist_type_group" value="podcast"><label for="playlist_type_podcast">Podcast</label>-->
                    <!--<input type="radio" id="playlist_type_demo" name="playlist_type_group" value="demo"><label for="playlist_type_demo">Demo</label>-->
                    <!--<input type="radio" id="playlist_type_in_progress" name="playlist_type_group" value="in_progress"><label for="playlist_type_in_progress">In Progress</label>-->
                    <!--<input type="radio" id="playlist_type_stem" name="playlist_type_group" value="stem"><label for="playlist_type_stem">Stem</label>-->
                    <!--<input type="radio" id="playlist_type_loop" name="playlist_type_group" value="loop"><label for="playlist_type_loop">Loop</label>-->
                    <!--<input type="radio" id="playlist_type_sound_effect" name="playlist_type_group" value="sound_effect"><label for="playlist_type_sound_effect">Sound Effect</label>-->
                    <!--<input type="radio" id="playlist_type_sample" name="playlist_type_group" value="sample"><label for="playlist_type_sample">Sample</label>-->
                    <!--<input type="radio" id="playlist_type_other" name="playlist_type_group" value="other"><label for="playlist_type_other">Other</label>-->
                <!--</div>-->
            </div>
            <ul id="fetched_playlists"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Add jQuery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<!-- Scripts for SoundCloud -->
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"
		integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
		crossorigin="anonymous"></script>
<script type="text/javascript" src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<!-- App scripts -->
<script>
    // jQuery extension for a delayed keyup http://stackoverflow.com/a/6054104/747275
    (function($){
        $.widget("ui.onDelayedKeyup", {
            _init : function() {
                var self = this;
                $(this.element).keyup(function() {
                    if(typeof(window['inputTimeout']) != "undefined"){
                        window.clearTimeout(inputTimeout);
                    }
                    var handler = self.options.handler;
                    window['inputTimeout'] = window.setTimeout(function() {
                        handler.call(self.element) }, self.options.delay);
                });
            },
            options: {
                handler: $.noop(),
                delay: 500
            }
        });
    })(jQuery);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script>
		$(document).ready(function() {
			var base_uri = "http://brown-cloud.herokuapp.com/";
            $("#friend_search").onDelayedKeyup({
                handler: function() {
                    fetchAndAddToList(
                        base_uri + "friends",
                        "friend",
                        $("ul#fetched_friends")
                    )
                }
            });
			$("#track_search").onDelayedKeyup({
				handler: function() {
					fetchAndAddToList(
						base_uri + "tracks",
						"track",
						$("ul#fetched_tracks")
					)
				}
			});
			$("#playlist_search").onDelayedKeyup({
				handler: function() {
					fetchAndAddToList(
						base_uri + "playlists",
						"playlist",
						$("ul#fetched_playlists")
					)
				}
			});
		});
</script>
{% endblock %}
