<html>
<!-- From Twitter bootstrap getting-started -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>BrownCloud</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!-- Twitter Bootstrap compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Twitter Bootstrap Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
{% block styles %}{% endblock %}
    <nav class="nav nav-bar">
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Find tracks and playlists</a>
                <a href="{{ url_for('find_user') }}">Find users</a>
            </li>
        </ul>
    </nav>
    <div class="container col-md-12">
        <h1>BrownCloud</h1>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

    <!-- Add jQuery -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!-- Twitter bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Scripts for SoundCloud -->
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"
            integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script><!-- App scripts -->
    <script>
        // jQuery extension for a delayed keyup http://stackoverflow.com/a/6054104/747275
        (function($){
            $.widget("ui.onDelayedKeyup", {
                _init : function() {
                    var self = this;
                    $(this.element).keyup(function() {
                        if(typeof(window['inputTimeout']) != "undefined"){
                            window.clearTimeout(inputTimeout);
                        }
                        var handler = self.options.handler;
                        window['inputTimeout'] = window.setTimeout(function() {
                            handler.call(self.element) }, self.options.delay);
                    });
                },
                options: {
                    handler: $.noop(),
                    delay: 500
                }
            });
        })(jQuery);
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</html>
